//imports
@import 'breakpoints';

//variables 
$header_height : 60px;
$footer_height: 60px ;
$base_color : #0484f3 ;


.msg_body_me{
    background-color: rgb(243, 243, 243);
    margin-left : auto;
    border-bottom-left-radius: 0 !important;

    .read {
            //font-size : 16px;
            color: rgb(27, 27, 27);
    
          
    
        }
}

.msg_body_receiver {
    background-color: $base_color;
    color: white; 
    border-bottom-left-radius: 0 !important;
    .read {
            //font-size : 16px;
            color: rgb(204, 204, 204);
       
        }
}
//chat container
img {
    object-fit: cover;
}
.chat_container{
    position: fixed ;
    width : 100% ;
    left : 0 ;
    top : 0;
    height:100% ;
    border: 1px solid rgb(230, 230, 230) ;
    border-radius: 0  ;
    display : flex ;
    flex-wrap: wrap;
    padding : 5px 6px ;
    margin-top :0px;

    z-index:10;
    background-color:#fff;
    @include media('>tablet') {
        top:unset ;
        height:90%;
    }

    
    @include media('>desktop'){
        position: fixed;
        width: 95%;
        left: 2.5%;
        height: 85%;
        border: 1px solid gray;
        border-radius: 11px;
        margin-top :15px;
    }

   // @media only screen and (min-width:1024px) {
   //     border: 3px solid red;

   // }


}


//chatlist
/*---------------------------*/
.chat_list_container {
    border-right: 1px solid gray;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    @include media('>tablet') {
            width: 296px;
            border-right: 1px solid rgb(226, 226, 226);
        }
   

    //header
    .chatlist_header {
        border-bottom: 1px solid rgb(196, 194, 194);
        height: 60px;
        display: flex;
        flex-wrap: nowrap;

        .title {
            font-size: 22px;
            display: flex;
            padding: 5px 6px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .img_container {
            height: 39px;
            width: 39px;
            margin: auto;
            margin-left: auto;
            margin-right: 2px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid rgba(55, 101, 202, 0.726);
            }
        }
    }



.chatlist_body {
    .chatlist_item {
        display : flex ; 
        flex-wrap: nowrap;
        width : 97%;
        padding: 2px 8px;
        margin:9px 4px;
        border-radius: 14px;
        background-color: rgb(241, 241, 241);
        cursor: pointer;
        &hover{
            background-color: darken($color: rgb(231,231,231) , $amount:4%);
        }
        .chatlist_img_container{
            height:47px ;
            width: 47px ;
            margin: auto;
            margin-left: auto;
            
            img {
            width : 100% ;
            height : 100%;
            border-radius: 50%;
            }

        }
        .chatlist_info{
            padding: 2px 5px;
            width : 80% ;
            display : block ; 
            flex-wrap : nowrap;

        .top_row{
            margin : 3px 0px;
            width : 100% ;
            display : flex ; 
            .list_username{
                font-size:16px ;
                width : 80%
                
            }
            .date {
                font-size : 13px ;
                margin-left : auto ;
            }
        }

        .bottom_row {
            display : flex ; 
            flex-wrap: nowrap;
            width : 100%;
            .message_body {
                width : 80% ;
                font-weight: lighter;
                font-family :'Roboto';

            }
            .unread_count {
                margin-left : auto ;
                margin-top: 6px;
                font-size :13px ;
                //background-color : gainsboro;
                padding: 2px 5px;
                border-radius: 50%;
                color : rgb(207 , 33 , 33);
                font-weight : lighter;
            }

        }

        }
    }

}
}

//chatbox
/*****************************/
.chat_box_container {

    position :relative;
    width : 100%;
    height: 100%;
    display: block;
   // border: 1px solid gray;


    @include media('>tablet') {
            width: calc(100% - 296px);
        }


.chatbox_header  {
    position: absolute;
    top: 0px;
    border-bottom: 1px solid gray;
    height: 60px;
    width: 100%;
    display : flex; 
    flex-wrap: nowrap;

  
    .img_container {
        height: 45 px ;
        width : 45 px;
        margin : auto ;
        margin-left: 4px ;


        img {
            width : 100% ;
            height: 100% ;
            border-radius: 50%;
        }
    }

    .return {
        margin : auto ;
        font-size : 21px ;
        padding : 7px 11px;
        cursor: pointer;
        margin-left: 3px;

    }

    .name {
        margin : auto ;
        cursor: pointer;

    }

    .info {
        display: flex; 
        text-align : center ;
        padding : 3px 5px ;
        margin :1px 11px ;
        color: #0182f4 ;
        font-size : 19px ;
        flex-wrap: nowrap;

        .info_item {

            margin : 1px 11px ; 
            padding : 3px 5px;
            padding : 4px 7px;
            cursor: pointer;
            &:hover {
                color : lighten($color: $base_color, $amount: 18%);
            }
        }
    }


}

    .chatbox_body{
    overflow: scroll;    
    overflow-y: hidden;    
    width: 100%;
    border: 1px solid blue ;
    position: absolute;
    top: 60px;
    overflow: auto;
    padding : 17px 11px;
    height:79%;
    bottom: $footer_height + 3px;

    .msg_body {
        border-radius: 9px;
        display: block;
        max-width: 80%;
        margin-left:11px;
        
        padding : 4px 7px ;

    .msg_body_footer{
        width:100%;
        display: flex;
        justify-content: end;
        align-items: right;

        .date {
            font-size: 13px;
            padding-right:7px;
        }

        .read {
            //font-size : 16px;
            //color : rgb(102, 102, 102);

            i{
                font-size: 21px; 
                margin:3px;
            }

        }

    }

    }

    }

    .chatbox_footer {
        height: 60px;
        width: 100%;
        position: absolute;
        bottom : 0;
        border-top: 1px solid rgb(233, 233, 233);
        display: flex;
        flex-wrap: nowrap;
        background-color:white;

        .custom_form_group{
            display: flex ;
            flex-wrap: nowrap;
            margin:auto 0;
            width: 100%;
            padding: 2px 6px;

        .control{
            margin:auto 0;
            width : 90%;
            outline:0;
            box-shadow:0;
            background-color: rgb(226, 226, 226);
            border-radius: 11px;

            &:focus{
                box-shadow: none;
                outline: none;
                border-style: 0;
            }

        }

        .submit{
            padding:4px 5px;
            text-align:center;
            width : 10%;
            font-size:18px;
            font-weight: bold;
            color:$base_color;

        }

        }
}
}